.container-document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.container-document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}

.container-document .react-pdf__message {
  padding: 20px;
  color: white;
}